@media (max-width: 999px) {
  .navbar {
    &.scrolled {
      .nav-content {
        height: calc(100vh - 80px) !important;
        top: 80px !important;
      }
    }

    .content {
      .hamburger {
        display: block !important;
      }

      .nav-content {
        width: 100% !important;

        &.full-width {
          width: 100% !important;
        }

        position: absolute;
        top: 120px;
        right: -100%;
        height: calc(100vh - 120px);
        background-color: var(--light);
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 999;
        padding: 20px 0px;
        transition: all .3s linear;

        &.active-nav {
          right: 0px !important;
        }

        .navbar-nav {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          align-content: flex-start;
          padding: 0px 15px;
          margin-bottom: 20px;
          width: 100%;

          li {
            width: 100%;
            padding: 20px 0px;
            border-bottom: 1px solid #ddd;
          }
        }

        .buttons-contain {
          width: 100%;
          justify-content: center !important;
        }
      }
    }
  }

  footer .content .footer-links {
    flex-wrap: wrap-reverse !important;

    li {
      margin-top: 15px !important;
    }
  }

  .copyrights {
    padding: 10px 0px;

    .content {
      flex-direction: column;
      justify-content: center;
      text-align: center;
  
      a {
        margin-top: 10px;
      }
    }
  }

  .how-use .use-list li::before {
    display: none !important;
  }

  .how-use .image-content,
  header .image-content,
  .reserve .image-content {
    height: 220px !important;
  }

  header {
    padding: 150px 0px 0px !important;
    
    .content {
      padding: 0px !important;

      h1 {
        font-size: 18px !important;
      }
    }
  }

  .heading .title {
    font-size: 17px !important;
  }

  .single-project .prodcutDetailsSwiper .swiper-slide {
    height: 250px !important;
  }

  .chat-message {
    .form-control {
      padding-inline-end: 70px !important;
      padding-inline-start: 20px !important;
    }

    .send-btn {
      left: 0px !important;
    }
  }

  .mobile-hidden,
  .navbar .content .dropdown .dropdown-toggle span{
    display: none;
  }

  .modal-dialog-centered .modal-body .flex-data,
  .orders .order-box, 
  .orders .order-box .content .flex-data{
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    align-content: flex-start !important;

    a, span, .type  {
      margin: 10px 0px 0px !important;
    }
  }

  .card {
    .card-header {
      padding: 10px 0px !important;
  
      .btn {
        padding: 10px 10px !important;
  
        .title {
          font-size: 13px !important;
          text-align: unset !important;
        }
      }
    }

    p {
      font-size: 13px !important;
    }
  }

  .owl-carousel .owl-nav .owl-next,
  .owl-theme .owl-nav .owl-prev {
    top: unset !important;
    transform: translateY(0px) !important;
    bottom: 0px !important;
  }

  .owl-carousel .owl-nav button.owl-next {
    left: calc(50% - 40px);
  }

  .owl-theme .owl-nav .owl-prev {
    right: calc(50% - 40px);
  }

  .owl-stage {
    padding-bottom: 40px !important;
  }

  .contact-us .contact-box .box .image-content {
    width: 70px !important;
    height: 70px !important;
    margin-inline-end: 10px !important;
  }

  .contact-us .contact-box .box {
    justify-content: flex-start !important;
  }

  .contact-us .contact-box .box .content {
    width: calc(100% - 80px);
  }

  .heading .title {
    padding-inline-start: 45px;

    &::after {
      width: 40px !important;
    }
  }
}